## File Usage Instructions
### Prerequisites
- ESP32 - This project uses the ESP32 Wroom, a microcontroller great for Bluetooth and Wifi interfacing. Any similar microcontroller will work, but some steps, such as driver and library installation, will need to be modified.
    
- Arduino IDE, version 2.3.3. Install Link - https://www.arduino.cc/en/software
  - Necessary libraries - ESP32Servo, WiFi, ESPAsyncWebServer
    
- Drivers for ESP32 (or similar microcontroller). ESP32 Drivers - https://www.silabs.com/developer-tools/usb-to-uart-bridge-vcp-drivers?tab=downloads
  - **The drivers must be installed and updated in the device manager must be updated - if not, Arduino IDE will not recognize the microcontroller.**
